header {
  background-color: white;
  padding: 0;
  border-bottom: 1px solid rgb(199, 87, 87);
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
}
a {
  color: #af1313;
}
a:hover {
  background-color: #e72929;
  color: white;
  transition-duration: 0.3s;
}

a.logo {
  font-weight: bold;
  padding: 3.5vh;
}
nav ul {
  list-style-type: none;
  margin: 0;
}
nav ul li a {
  padding: 1em;
  display: inline-block;
}
