div {
    margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

div a {
  background-color: white;
  padding: 0.5rem 0.3rem;
  margin: 0.2rem 0.15rem;
  border-radius: 10rem;
  color: #e72929;
  font-weight: 600;
  border: 1.5px solid #e72929;
}

div a:hover {
  cursor: pointer;
  background-color: #e72929;
  color: white;
  transition: 0.3s;
}
